version: '3.8'
services:
  novahub-api:
    image: local-test-images/novahub-api:${TAG:-latest}
    build:
      context:../../..  # Root of the ecosystem-qa repo
      dockerfile:./environments/inter-coffee-shop/novahub-api.Dockerfile
      args:
        # This path points to the artifact downloaded by qa-run.yml
        - ARTIFACT_PATH=./artifacts/novahub-api.tar.gz
    ports:
      - "8001:8000"

  novafin-api:
    image: local-test-images/novafin-api:${TAG:-latest}
    build:
      context:../../..
      dockerfile:./environments/inter-coffee-shop/novafin-api.Dockerfile
      args:
        # This would be the 'latest-stable' artifact
        - ARTIFACT_PATH=./artifacts/novafin-api.tar.gz 
    ports:
      - "8002:8000"

  #... other services (databases, workers, etc.)