name: Promote Artifact to Stable
on:
  workflow_call:
    inputs:
      tag_name:
        type: string
        required: true
      repo_name:
        type: string
        required: true
    secrets:
      GH_TOKEN:
        required: true

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - name: Get Release by Tag
        id: get_release
        run: |
          # Fetch the release ID using the tag name
          RELEASE_JSON=$(gh api "repos/nova-ecosystem/${{ inputs.repo_name }}/releases/tags/${{ inputs.tag_name }}" \
            --jq '. | {id:.id, prerelease:.prerelease}')
          echo "RELEASE_DATA=$RELEASE_JSON" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          
      - name: Promote Release (Set prerelease=false)
        if: fromJson(steps.get_release.outputs.RELEASE_DATA).prerelease == true
        run: |
          RELEASE_ID=$(echo '${{ steps.get_release.outputs.RELEASE_DATA }}' | jq.id)
          gh api "repos/nova-ecosystem/${{ inputs.repo_name }}/releases/$RELEASE_ID" \
            -X PATCH \
            -f prerelease=false
          echo "Promoted ${{ inputs.repo_name }}/${{ inputs.tag_name }} to Stable."
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}